{% extends "base.html" %}

{% block page_content %}
    <h1>
    {% if current_user.is_authenticated %}
        Hello, {{ current_user.username }}
    {% else %}
    <div class='text-center'>
        <img class='mx-auto d-block rounded img-fluid index-image' src="{{ url_for('static', filename='Bazaar.png') }}"/>
        <h3>
            <strong>Bazaar</strong></br>
            the first and only social networking site</br>
            on the Internet
        </h3>
    </div>
    {% endif %}
    </h1>
{% endblock %}